* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain light";
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x:hidden;
     background-color: #151515;
}

// #0b0b00b





#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0b0b0b;
    display: none; //isko hatana hai
    z-index: 999999;
    display: block;

    padding: 25vh 10vw;

    .line {
        // background-color: red;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3vw;
        height: fit-content;

        h1 {
            font-size: 6.5vw;
            text-transform: uppercase;
            font-weight: 900;
        }

        h2 {
            font-size: 5vw;
            text-transform: uppercase;
            font-weight: 900;
            // animation-name: anime;
            opacity: 0;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        #line1-part1 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;

            h5 {
                // background-color: red;
                width: 5vw;
                text-align: right;
            }

            h5,
            h6 {
                font-size: 3vw;
                font-family: "Silk serif";
                font-weight: 100;
            }
        }
    }
}

@keyframes anime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: "silk serif";

        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: "silk serif";

        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

main {
    position: relative;
    background-color: #151515;


}

#page1 {
    background-color: #151515;
    height: 100vh;
    width: 100%;
    margin-bottom: 5vw;
    #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5vw;

        #nav-part2 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3vw;
        }
           #nav-part2 h4 {
                font-size: 0.8vw;
                font-weight: 500;
            }
        
    }

    .hero:nth-child(2) {
        margin-top: 18vh;
    }

    .hero {
        // background-color: red;

        width: 72%;
        margin-left: 27%;
        height: fit-content;
        //    background-color: red;
        display: flex;
        align-items: center;
        // position: relative;
        z-index: 9999;
        overflow: hidden;


        h1,
        h2 {
            font-size: 7.2vw;
            text-transform: uppercase;
            line-height: 7.2vw;
            font-weight: 600;
            position: relative;


        }

        h2 {
            border-bottom: 0.5vw solid #fff;
            padding-bottom: 0.5vw;
            // transition: all ease 0.3s;
        }

        h2:hover {
            -webkit-text-stroke: 1px #fff;
            font-weight: 500;
            color: transparent;
            border-bottom: 0.5vw solid #ffffff00;
        }

    }


    #hero1::before {
        content: "01";
        position: absolute;
        font-size: 4vw;
        font-weight: 100;
        font-family: 'silk-serif';
        font-style: italic;
        left: 21%;
        top: 32%;








    }



    

    #flag{
        height: 22vw;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%,-50%);
        opacity: 0;
    }

    #hero3{
       z-index: 999; 
       position: relative;
    }
}

#page2 {
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
    

    #video-container {
        height: 66vh;
        width: 71vw;
        position: relative;
        left: 28%;
        background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
        background-size: cover;
        background-position: center;

        // img {
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     object-fit: cover;
        //     top: 0;
        // }

        #video-cursor {
            background-color: #ffa63d;
            height: 8.5vw;
            width: 8.5vw;
            border-radius: 50%;
            position: absolute;
            top: -15%;
            left: 70%;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 2vw;
                cursor: pointer;
            }
        }

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0;
        }
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    padding: 17vw 2vw;
    position: relative;
    margin-top: 20vh;
   margin-bottom: 20vh;
    h1 {
        font-size: 7vw;
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 28vw;
        padding-bottom: 4vw;
    }

    h1::before {
        content: "02";
        position: absolute;
        font-size: 4vw;
        font-family: 'silk-serif';
        font-style: italic;
        font-weight: 100;
        
      left: 20%;
       top: 13.3%;


    }

    .underline {
        height: 0.5vh;
        width: 100%;
        background-color: #fff;
        margin-left: 28vw;
        margin-bottom: 4vw;

    }



    #image-div-container {
        // background-color: red;
        padding: 1vw;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
       gap:5vw;

        .image-div {
            height: 38vw;
            width: 27vw;
            position: relative;
            overflow: hidden;
            // background-color: #3f7df4;
            flex-shrink: 0;
            background-color: #00caf3;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .image-div:nth-child(1){
            height: 30vw;
            width: 20vw;
        }
    }

}


#page3-circle1{
height: 23vw;
width: 23vw;
border: 2px solid #fff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 23vh;
margin-left: 10vw;
position: relative; 
flex-shrink: 0;

svg{
    width: 35%;
}

}



#page3-circle2{
height: 23vw;
width: 23vw;
border: 2px solid #fff;
border-radius: 50%;
display: flex;
position: relative;
align-items: center;
justify-content: center;
flex-shrink: 0;
margin-top: 2vw;
margin-left: 3svw;

svg{
    width: 35%;
}

}

.circle1-in{
    height: 100%;
    width: 100%;
   position: absolute;
   top: 0;
   left: 0;
  background-color: #fff;
  color:#000;

display: flex;
align-items: center;
justify-content: center;
transition: all ease 0.5s;

scale: 0;
border-radius: 50%;
    
p{
    font-size:1vw;
  color:#000;
  width: 60%;
font-weight: 500;
scale: 0;
transition: all ease 0.3s;
transition-delay:0.3s;
opacity: 0;

}
}

#page3-circle1:hover .circle1-in{
    scale: 1;
}

#page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

#page3-circle2:hover .circle1-in{
    scale: 1;
}

#page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}



#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 20vh;
    // background-color: #3f7df4;
    padding-bottom: 20vh;
}

#content{
    width: 72%;
    position: relative;
    margin-left: 28%;
    // background-color: rgb(203, 136, 136);
}
   #content h1{
        font-size: 7vw;
        text-transform: uppercase;
        font-weight: 600;
        // margin-left: 28vw;
        padding-bottom: 4vw;
    }
    

#content h1::before{
content: "03";
position: absolute;
font-size: 4vw;
left: -14%;
top: 1.2%;
font-family: "silk-serif";
font-style: italic;
font-weight: 100;




}

.line1{
        height: 0.5vh;
        width: 100%;
        background-color: #fff;
margin-top:4vw ;
}

#content>p{
    font-size: 2.05vw;
    width: 50%;
   
margin: 2vw;

}
#page4-flex{
 display: flex;

   #img1{
    width: 48%;
    // height: 100%;
    object-fit: cover;
}

   }
  #page4-flex p{
    font-size: 0.9vw;
    width: 18%;
    margin-left: 1vw;
   }



.button__arrow{
    transform: rotate(315deg);
}
#blue-div{
    background-color: #3f7df4;
    width: 32vw;
    padding: 3vw;
position: relative;
margin-top: -36vh;
margin-left: 25vw;

}
.blue-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 2px solid #ffffffbe;
    h4{
        font-size: 1.3vw;

font-weight: 500;   

}
p{
    width: 40%;
    font-size: 0.7vw;
}
}

    

       
   
    

   

   
      

       
   
#page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
margin: 5vw 0;
h4{
    padding: 2vw 0;
    font-size: 1.5vw;
    font-family: serif;
    font-weight: 500;
     margin-left: 28%;
}


    .elem {
        // background-color: goldenrod;
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: 1vw;

        span {
            font-style: italic;
            font-family: "Silk serif", serif;
            -webkit-text-stroke: 1px #ffffff;
            color: transparent;
        }


        h1 {

            font-size: 6vw;
            -webkit-text-stroke: 1px #ffffff;
            font-weight: 400;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 16px;
            color: transparent;

            animation: marque 15s linear infinite;
        }


    }



    .elem2 {

        // background-color: goldenrod;
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: 1vw;

        span {
            font-style: italic;
            font-family: "Silk serif", serif;
            -webkit-text-stroke: 1px #ffffff;
            color: transparent;
        }

        h1 {

            font-size: 6vw;
            -webkit-text-stroke: 1px #ffffff;
            font-weight: 400;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 16px;
            color: transparent;
            transform: translateX(calc(-100% - 20px));

            animation: marque 15s linear infinite reverse;


        }
    }
}

@keyframes marque {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}
// 
#footer {
    height: 90vh;
    width: 100%;
    
    background-color: #151515;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
padding-bottom: 20vw;
    >h4 {

        font-size: 1.1vw;
        font-weight: 500;
        padding-bottom: 4vw;
       


    }


    h1 {
        font-size: 7vw;
        width: 60vw;
        text-transform: uppercase;
        // background-color: #3f7df4;
        position: relative;
    }

    h1::before {
        content: "04";
        position: absolute;
        font-size: 4vw;
        font-family: 'silk-serif';
        font-style: italic;
        font-weight: 100;
        left: -20%;
        top: 18%;


    }


    .underline {
        height: 0.2vh;
        width: 100%;
        background-color: #fff;
        margin: 3vw 0;

    }

    #footer-div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 15vw;
        padding-top: 4vw;
        margin-bottom: 3vw;


        .box {
            width: 20vw;
        }

        h6 {
            font-size: 1vw;
            padding-bottom: 1.5vw;
            font-weight: bold;
            font-weight: 500;
        }

        h5 {
            font-size: 1.4vw;
            margin: 0.1vw 0;
            font-weight: 500;
        }
       
    }

}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}

.intro {

    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px){
    
    #page1 {
        height: 100%;
    width: 100%;
  
    margin-bottom: 5vw;
    #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5vw;

        #nav-part2 {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // gap: 3vw;

        }
           #nav-part2 h4 {
                font-size: 3vw;
                font-weight: 500;
            }
        
    }

    .hero:nth-child(2) {
        margin-top: 18vh;
    }

    .hero {
        
        margin-left: 8%;
      

        h1,
        h2 {
            font-size: 10vw;
            text-transform: uppercase;
            line-height: 10vw;
            font-weight: 600;
            position: relative;


        }

        h2 {
            border-bottom: 0.5vw solid #fff;
            padding-bottom: 0.5vw;
            // transition: all ease 0.3s;
        }

        h2:hover {
            -webkit-text-stroke: 1px #fff;
            font-weight: 500;
            color: transparent;
            border-bottom: 0.5vw solid #ffffff00;
        }

    }



  #hero1::before {
        content: "01";
        position: absolute;
        font-size: 4vw;
        font-weight: 100;
        font-family: 'silk-serif';
        font-style: italic;
        left: 1%;
        top: 55%;








    }


   

    #flag{
        height: 30vw;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%,-50%);
        opacity: 0;
    }

    #hero3{
       z-index: 999; 
       position: relative;
    }
}





}
